{% extends "base.twig" %} {% block body %}
<div class="bg-lush-content-bg d-flex flex-column h-100">
 <div class="row py-4">
  <div class="col-lg-3">
    <div class="staff-list"> 
      {% for employee in data.ranks %}
       {% if employee.users is not empty %}
       <div class="card d-flex flex-row mb-15p staff-bg d-flex flex-row" style="background-color: {{employee.prefix_color}};">
        <div class="text-white align-self-center font-weight-bolder">{{employee.rank_name}}</div>
      </div>
      {% endif %}
      <div class="staff-grid d-flex d-md-grid flex-column">
      {% for user in employee.users %}
        <div class="card mb-15p position-relative staff-card">
          <div class="staff-user-bg text-right d-flex justify-content-end" style="background-image: url(/assets/images/avatar_backgrounds/{{user.avatar_bg}}.gif);">
            <img src="https://laup.se/templates/laup/images/{% if user.online == 1 %}online{% elseif user.online == 0 %}offline{% endif %}.gif" class="align-self-center">
          </div>
          <div class="p-1 d-flex flex-row position-relative">
            <img src="{{  config('website_settings.site.fpath') }}?figure={{user.look}}&amp;head_direction=3" class="the-avatar {% if user.online == 1 %}online{% elseif user.online == 0 %}offline{% endif %}">
            <div class="staff-info text-lush-info-text">
              <span class="d-block">
                <a href="/home/{{user.username}}"><span class="text-lush-info-text">{{user.username}}</span></a>
              </span>
              <small>{{user.motto}}</small>
            </div>
            <img src="https://client.habbo.ng/assets/c_images/Badgeparts/{{employee.badge}}.gif" class="position-absolute align-self-end the-badge">
          </div>
        </div>
      {% endfor %}
      </div> 
      {% endfor %}
    </div>
  </div>
  <div class="col-lg-1">
    <div class="card mb-15p">
      <div class="card-header orange">{{ lang('website.staff.about_title' )}}</div>
      <div class="p-2 small text-muted">
        <p> {{ lang('website.staff.about_content1' )}} </p>
        <p> {{ lang('website.staff.about_content2' )}} </p>
      </div>
    </div>
    <div class="card mb-15p">
      <div class="card-header">{{ lang('website.staff.join_title' )}}</div>
      <div class="p-2 small text-muted">
        <p> {{ lang('website.staff.join_content1' )}} </p>
        <p> {{ lang('website.staff.join_content2' )}} </p>
        <a href="/community/jobs">
         <button class="llbtn llbtn-success llbtn-lg w-100 mb-0">{{ lang('website.staff.join_apply' )}} </button>
        </a>
      </div>
    </div>
  </div>
</div>
</div> 
{% endblock %}